<script>
    $(function() {
        var tags_list = <%= raw @ac_tags_list %>;
        $( "#tags" ).autocomplete({
            source: tags_list
        });
    });
</script>
<fieldset>
  <div class="ui-widget">
    <label for="tags">Tag: </label>
    <%= f.text_field :tag_word, :id => "tags" %>
  </div>
  <%= f.hidden_field :destroy %>
  <%= link_to "Remove", "#", class: "remove_fields" %><br /><br />
</fieldset>








