<div style="background: #2ba6cb">
  <div class="container">
    <h4 style="padding: 10px;">
      To enter data, sign in here:
      <%= link_to 'Sign In / Register', '/users/sign_in' %>
    </h4>
  </div>
</div>