<!DOCTYPE html>
<html ng-app="fastFacts">
<head>
  <title>FastFacts</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <comment the following is for bootstrap />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
